<div class="gener-group ml-5">
  <div class="title pt-4 col-2 text-center">
    <h3>動物の種類編集</h3>
  </div>
  <%= form_with model: @type, url: admin_type_path, method: :patch do |f| %>
    <div class="row mt-5">
      <div class="form-group col-1">
        <%= f.label :name, '種類名' %>
      </div>
      <div class="form-group col-3">
        <%= f.text_field :name %>
      </div>
      <div class="form-group col-2">
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
</div>